<%- include('header') %>
        <h2>
            Nova categoria:
        </h2>
        <div>
            <a href="/admin">Admin</a> |
            <a href="/admin/categorias">Categorias</a>
            <form method="POST">
                <label>Título:</label>
                <input type="text" name="categoria">
                <br>
                <button>Salvar categoria</button>
            </form>
        </div>
<%- include('footer') %>